@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
.image{
    border: 1px solid #b7c3c3;
    border-radius: 43px;
    padding: 2px;
    box-shadow: 0 19px 20px 0 rgba(0,0,0,0.2);
}
.image img{
    width:75px;
    height: 75px;
    border-radius:80px;
    
}
mat-toolbar{
    height:56px;
    cursor: pointer;
    z-index: 1;
    position: fixed;
    width: 246px;
    background-color: white;

}
.logoName{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Poppins';

}
.profileName{
    color: #6f6f6f;
    font-family: 'Poppins';
}
.profileName+div{
    font-size: 10px;
    color: #a1a4a7;
    font-family: 'Poppins';
}
.menuToggle{
    height: 49px;
    background: rgba(146,144,144,0.28);
    border-radius: 3rem;
    position: relative;
    color:#5783c7;
    font-family: 'Poppins';
    cursor: pointer;
    margin: 8px 13px 0px;
    font-size: 14px;
}
.menuOpen{
    height: 49px;
    border-radius: 3rem;
    position: relative;
    font-family: 'Poppins';
    cursor: pointer;
    margin: 8px 13px 0px;
    font-size: 14px;
}
.menuOpen:hover{
    background:rgb(248, 248, 248);
    color:#5783c7;
}
.menu{
    width:30px;
    height: 30px;
}
.menuHome{
    width:30px;
    height: 30px;
    border-radius: 50px;
    background-color:  rgba(146,144,144,0.28);
    margin-top: 58px;
}
.profile{
    margin: 75px 0px 0px 0px;
}
.toolbar{
    width: 48px;
}
.logo{
    margin-left: -6px;
}
.menuToggl{
    height: 49px;
    border-radius: 3rem;
    position: relative;
    font-family: 'Poppins';
    cursor: pointer;
    margin:0px 12px;
    font-size: 14px;
}
.menuToggl:hover{
    background:rgb(248, 248, 248);
    color:#5783c7;
}
.logoNam{
    margin-left: 40px;
}