<div fxLayout="column">
  <div fxLayout="column" fxLayoutGap="25px">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="sidenavHeader">
      <div> <img src="../../assets//logo.png"></div>
      <div *ngIf="value==false" class="logoName">
        Lorax
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" *ngIf="value==false">
      <div fxLayout="row" fxLayoutAlign="center" class="image">
        <img src="../../../assets/mahesh.jpeg" alt="mahesh babu">
      </div>
      <div>
        <div fxLayout="column" fxLayoutAlign="center center">
          <div class="profileName"> Mahesh Babu</div>
          <div> Manager</div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="menuToggle" [class.menu]="value">
      <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="15px" fxFlex="63">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img src="../../assets/outer.svg">
        </div>
        <div *ngIf="value==false">Home</div>
      </div>
      <div *ngIf="value==false" fxLayout="row" fxLayoutAlign="center center"> <img src="../../assets/add.svg">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="menuToggle" [class.menu]="value">
      <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="15px" fxFlex="63">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img src="../../../assets/events.svg">
        </div>
        <div *ngIf="value==false">Events</div>
      </div>
      <div *ngIf="value==false" fxLayout="row" fxLayoutAlign="center center"> <img src="../../assets/add.svg">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="menuToggle" [class.menu]="value">
      <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="15px" fxFlex="63">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img src="../../assets/outer.svg">
        </div>
        <div *ngIf="value==false">Email</div>
      </div>
      <div *ngIf="value==false" fxLayout="row" fxLayoutAlign="center center"> <img src="../../assets/add.svg">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="menuToggle" [class.menu]="value">
      <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="15px" fxFlex="63">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img src="../../assets/outer.svg">
        </div>
        <div *ngIf="value==false">Apps</div>
      </div>
      <div *ngIf="value==false" fxLayout="row" fxLayoutAlign="center center"> <img src="../../assets/add.svg">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="menuToggle" [class.menu]="value">
      <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="15px" fxFlex="63">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img src="../../assets/outer.svg">
        </div>
        <div *ngIf="value==false">E-commerce</div>
      </div>
      <div *ngIf="value==false" fxLayout="row" fxLayoutAlign="center center"> <img src="../../assets/add.svg">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="menuToggle" [class.menu]="value">
      <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="15px" fxFlex="63">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img src="../../assets/outer.svg">
        </div>
        <div *ngIf="value==false">Widgets</div>
      </div>
      <div *ngIf="value==false" fxLayout="row" fxLayoutAlign="center center"> <img src="../../assets/add.svg">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="menuToggle" [class.menu]="value">
      <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="15px" fxFlex="63">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img src="../../assets/outer.svg">
        </div>
        <div *ngIf="value==false">User Interfaces(UI)</div>
      </div>
      <div *ngIf="value==false" fxLayout="row" fxLayoutAlign="center center"> <img src="../../assets/add.svg">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="menuToggle" [class.menu]="value">
      <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="15px" fxFlex="63">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img src="../../../assets/icons.svg">
        </div>
        <div *ngIf="value==false">Forms</div>
      </div>
      <div *ngIf="value==false" fxLayout="row" fxLayoutAlign="center center"> <img src="../../assets/add.svg">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="menuToggle" [class.menu]="value">
      <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="15px" fxFlex="63">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img src="../../assets/outer.svg">
        </div>
        <div *ngIf="value==false">Tables</div>
      </div>
      <div *ngIf="value==false" fxLayout="row" fxLayoutAlign="center center"> <img src="../../assets/add.svg">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="menuToggle" [class.menu]="value">
      <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="15px" fxFlex="63">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img src="../../assets/outer.svg">
        </div>
        <div *ngIf="value==false">Medias</div>
      </div>
      <div *ngIf="value==false" fxLayout="row" fxLayoutAlign="center center"> <img src="../../assets/add.svg">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="menuToggle" [class.menu]="value">
      <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="15px" fxFlex="63">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img src="../../assets/outer.svg">
        </div>
        <div *ngIf="value==false">charts</div>
      </div>
      <div *ngIf="value==false" fxLayout="row" fxLayoutAlign="center center"> <img src="../../assets/add.svg">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="menuToggle" [class.menu]="value">
      <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="15px" fxFlex="63">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img src="../../assets/outer.svg">
        </div>
        <div *ngIf="value==false">Timelines</div>
      </div>
      <div *ngIf="value==false" fxLayout="row" fxLayoutAlign="center center"> <img src="../../assets/add.svg">
      </div>
    </div>
  </div>
</div>