#sidenav{
    width:262px;
    background-color: white;
    overflow-y: hidden;
    overflow-x: hidden;
}
#sidenav.menu-open{
    width:262px;
    transition-duration: 2s;
}
#sidenav.menu-close{
    width:62px;
    transition-duration: 2s;
}
#sideContent{
    transition-duration: 2s;
}
// .sidecontent{
//     margin-left: 62px;
// }
// .sidecontent1{
//     margin-left: 262px;
// }
mat-sidenav-content {
    background-color: #f1f2f7;
}
mat-toolbar{
    z-index: 1;
    position: fixed;
    background-color: #f1f2f7;
    height: 60px;
}
.profilePic{
    width:32px;
    height: 32px;
    border-radius:50px;
}
.mat-toolbar .mat-icon-button{
    background-color: transparent;

}
.icons{
    width: 95%;
}
.icons>div+div{
    margin-left: 200px;
}
.toolbarColor{
    background-color:#343c48;
}
.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
    right: 2px;
    width: 10px;
    top: -5px;
    background-color: orange;
    height: 9px;
}
