<!------------------------------------------------------------SIDENAV----------------------------------------------------------------->
<mat-sidenav-container fullscreen>
    <!-- <div  *ngIf="isOpen" (mouseover)="onToolBarMenuToggle()"> -->
    <mat-sidenav mode="side" id="sidenav" [class.menu-open]='!isOpen' [class.menu-close]='isOpen' opened>
        <app-sidenav [value]="isOpen" (mouseover)="isOpen==true && toggle==true && onToolBarMenuToggle()"></app-sidenav>
    </mat-sidenav>
    <!-- </div> -->

    <mat-sidenav-content [ngStyle]="{'margin-left.px':content}" id="sideContent" (scroll)=getScrollCordinates($event)>
        <!------------------------------------------------------------TOOLBAR----------------------------------------------------------------->
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="80px"
            (mouseout)="isOpen==false && toggle==true && onToolBarMenuToggle()" class="content">
            <div>
                <mat-toolbar class="mat-toolbar" [class.toolbarColor]="color">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="770px" [class.icons]=isOpen>
                        <div fxLayout="row" fxFlexOffset="4px" (click)="mouseOut()">
                            <button *ngIf="color==false" mat-icon-button (click)="onToolBarMenuToggle()">
                                <img src="../../assets/outer.svg">
                            </button>

                            <button *ngIf="color==true" mat-icon-button (click)="onToolBarMenuToggle()">
                                <img src="../../assets/outer1.svg">
                            </button>
                        </div>

                        <div fxLayout="row" fxLayoutGap="5px">
                            <button *ngIf="color==false" mat-icon-button (click)=" fullScreen()">
                                <img src="../../assets/detect.svg">
                            </button>
                            <button *ngIf="color==true" mat-icon-button (click)=" fullScreen()">
                                <img src="../../assets/detect1.svg">
                            </button>
                            <div fxLayout="column" fxLayoutAlign="center" fxFlexOffset="8px">
                                <img src='../../../assets/mahesh.jpeg' alt="mahesh" class="profilePic">
                            </div>
                            <button *ngIf="color==false" mat-icon-button (click)=" onToolBarMenuToggle()">
                                <mat-icon matBadge="&#8288;" matBadgePosition="after"><img
                                        src="../../../assets/notification.svg"></mat-icon>
                            </button>
                            <button *ngIf="color==true" mat-icon-button (click)=" onToolBarMenuToggle()">
                                <mat-icon matBadge="&#8288;" matBadgePosition="after"><img
                                        src="../../../assets/notification1.svg"></mat-icon>
                            </button>
                            <button *ngIf="color==false" mat-icon-button (click)=" onToolBarMenuToggle()">
                                <img src="../../../assets/setting.svg">
                            </button>
                            <button *ngIf="color==true" mat-icon-button (click)=" onToolBarMenuToggle()">
                                <img src="../../../assets/setting1.svg">
                            </button>
                        </div>
                    </div>
                </mat-toolbar>
            </div>
            <div>
                <app-sidenav-content [value]="isOpen"></app-sidenav-content>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>