@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
    font-family: 'Poppins';
}
.mat-toolbar{
    width:100%;
    background-color: #f1f2f7;
}
mat-toolbar >div:first-of-type{
background-color: red;
    font-size: 23px;
    font-weight: 600;
    color: #777;
    border-right: 1px solid #c5c5c5;
    margin-top: -38px
 }
.toolbar div> img{
   width: 20px;
   height: 17px;
   margin: -4px 5px;
}
.toolbar div:nth-last-child(1){
    color:#555b64;
    font-size: 15px;
}
.toolbar div:nth-last-child(3){
    color:#20252c;
    font-size: 15px;
    cursor: pointer;
}
.toolbar{
    margin-top: -38px
}
// .example-card {
// background-color: yellow;
//   }
mat-toolbar{
    padding: 0px;
  }
  .toolbar>div:first-child{
   cursor: pointer;           
}
.main{
    margin: 0px 0px 0px 20px; 
    // background-color: red
}
.cards>div>div + mat-card{
   background-color: yellow; 
   width: 222px;
height: 113px;
}