

<!-- </div> -->

<!------------------------------------------------------------SIDENAV----------------------------------------------------------------->




<!-- <div fxLayout="row" fxLayoutAlign="start center"> -->

        <!-- <mat-sidenav-container fullscreen>
              
            <mat-sidenav mode="side" id="sidenav" [class.menu-open]='!isOpen' [class.menu-close]='isOpen' opened>
               <div fxLayout="row" fxLayoutAlign="center center" class="sidenavHeader">
            <div fxLayout="row" fxLayoutAlign="center"> 
                <img src="../../assets//logo.png"></div>
            <div *ngIf="isOpen==false" class="logoName">
                LORAX
            </div>
        </div>
                <div>
                        <button mat-raised-button fxFlex="97" (click)="reminder()">
                                <div fxLayout="row" fxLayoutGap="30px" fxFlex="100">
                                    <mat-icon>    <img src="../../assets/outer.svg"></mat-icon>
                                  <span> Reminders</span>
                                </div>
                              </button>
                </div>
        
            </mat-sidenav>
  
               
            <mat-toolbar class="mat-toolbar" >
             
             
                    
                    <div ><button mat-button (click)="onToolBarMenuToggle()">
                            <img src="../../assets/outer.svg">
                        </button>
                    </div>
                
            
                <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="end">
                    <button mat-icon-button (click)=" fullScreen()">
                        <img src="../../assets/detect.svg">
                    </button>
            
                    <button mat-mini-fab><img src='../../assets' alt="m"></button>
            
                    <button mat-icon-button (click)=" onToolBarMenuToggle()">
                        <img src="../../assets/notification.svg">
                    </button>
            
                    <button mat-icon-button (click)=" onToolBarMenuToggle()">
                        <img src="../../assets/setting.svg">
                    </button>
                </div>
               
            </mat-toolbar>
               
        </mat-sidenav-container> -->
        <!------------------------------------------------------------SIDENAV----------------------------------------------------------------->
<!-- <mat-sidenav-container fullscreen>
  
<mat-sidenav mode="side" id="sidenav" [class.menu-open]='!isOpen' [class.menu-close]='isOpen' opened>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="sidenavHeader">
        <div> <img src="../../assets//logo.png"></div>
        <div *ngIf="isOpen==false"class="logoName">
            LORAX
        </div>
    </div>
    <div>
            <button mat-raised-button fxFlex="97" (click)="reminder()">
                    <div fxLayout="row" fxLayoutGap="30px" fxFlex="100">
                        <mat-icon>    <img src="../../assets/outer.svg"></mat-icon>
                      <span> Reminders</span>
                    </div>
                  </button>
    </div>

</mat-sidenav>


<mat-sidenav-content > -->
    <!------------------------------------------------------------TOOLBAR----------------------------------------------------------------->
  
     
    <!-- <mat-toolbar class="mat-toolbar" >
             
                <div>
            </div>
            <span class="spacer"></span>
                <button mat-icon-button (click)=" fullScreen()">
                    <img src="../../assets/detect.svg">
                </button>
            
                <button mat-mini-fab><img src='../../assets/Mahesh_Babu_).svg' alt="mahesh"></button>
            
                <button mat-icon-button (click)=" onToolBarMenuToggle()">
                    <img src="../../assets/notification.svg">
                </button>
            
                <button mat-icon-button (click)=" onToolBarMenuToggle()">
                    <img src="../../assets/setting.svg">
                </button>
        
        
            </mat-toolbar> -->
            <!-- <mat-toolbar>


                <mat-toolbar-row>
                    <button mat-icon-button (click)="onToolBarMenuToggle()">
                        <img src="../../assets/outer.svg">
                    </button>
                    <span class="example-spacer"></span>
                    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
                    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
                    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
                    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
                </mat-toolbar-row>
            </mat-toolbar>
        
        <div>
    <app-dashboard>

    </app-dashboard>
</div>

</mat-sidenav-content>
</mat-sidenav-container> -->
      
    

